body {
    max-width: 1200px;
    margin: 0 auto;
    background-image: url("./images/backgroundOldFashionedNewspaperLight90.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f8f7c9;
}

main {
    font-family: 'Yaldevi', sans-serif;
    font-size: 12pt;
    color: #231206;
    position: relative;
    top: 0;
}

h1 {
    font-family: 'Ephesis', cursive;
    font-size: 36pt;
    text-align: center;
    margin: 0px;
    margin-bottom: -5px;
    position: relative;
    padding-top: 10px;
}

#pronounciation {
    text-align: center;
    font-size: 10pt;
    margin-bottom: 15px;
    position: relative;
}

h3 {
    text-align: center;
    margin-bottom: 18px;
    position: relative;
}

.grid-container {
    display: grid;
    grid-column-gap: 30px;
    position: relative;
    grid-template-areas: 
        "item1 item2";
    }

.grid-item1 {
    margin-top: 15px;
    align-self: start;
    justify-self: center;
    grid-area: item1;
}

.grid-item2 {
    align-self: center;
    grid-area: item2;
}

#image-div {
    margin-left: 20px;
    position: relative;
}

#image {
    width: 300px;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: #231206;
    border-radius: 2%;
    display: block;
    position: relative;
    margin-bottom: 10px;
}

figcaption {
    font-size: 10pt;
    text-align: justify;
    width: 305px;
    position: relative;
}

#tribute-info {
    display: flex;
    flex-direction: column;
}

#tribute-info-no-block {
    padding-left: 20px;
    padding-bottom: 20px;
}

#bullets {
    line-height: 180%;
    position: relative;
}

#tribute-link:hover {
    color:coral;
}

@media (max-width: 700px) {
    body {
        background-size: 640px;
        background-repeat: repeat;
    }
    
    .grid-container {
        grid-template-areas: 
        "item1"
        "item2";
    }

    #image-div {
        margin-left: 0;
    }

    #tribute-info, 
    #tribute-info-no-block {
        padding-left: 15px;
        padding-right: 15px;
    }
}